[Unit]
Description=review bot for yandex

[Service]
Type=simple
WorkingDirectory=/home/student/Kudesniki_review_api
ExecStart=/home/student/Kudesniki_review_api/venv/bin/python3 api_bot/bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target